.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
  
  @media (max-width: $vp-tablet) {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
  }


  &__item {
    width: calc(50% - 15px);

    @media (max-width: $vp-tablet) {
      width: 100%;
    }
  }
}

