.container {
  display: flex;
  flex-direction: column;
  max-width: 1728px;
  margin: 0 auto;
  padding: 0 180px;
  gap: 120px;

  @media (max-width: $vp-tablet) {
    gap: 81px;
    padding: 0 20px;
  }

  @media (max-width: $vp-mobile) {
    gap: 60px;
  }
}
