.footer {
  padding: 50px 0;
  background-color: $color-white;
  
  &__content {
    display: flex;
    justify-content: space-between;
    @media (max-width: $vp-tablet) {
      display: flex;
      justify-content: center;
      gap: 53px;
    }
  }

  &__nav-list {
    width: 200px;
    margin: 0;
    padding: 36px 0 0;
    list-style: none;
  }

  &__nav-list--right {
    text-align: right;
  }

  &__nav-list {
    @media (max-width: $vp-mobile) {
      display: none;
    }
  }

  &__nav-item:not(:last-child) {
    margin: 0 0 28px 0;
    
    @media (max-width: $vp-tablet) {
      margin: 0 0 17px 0;
    }
  }

  &__nav-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: $color-bunting;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.2s;

    @media (max-width: $vp-tablet) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__nav-link:hover,
  &__nav-link:focus-visible {
    color: $color-zorba;
    outline: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 21px 0;
  }

  &__logo-img {
    width: 133px;
    height: 32px;
    margin: 0 0 11px 0;
    
    @media (max-width: $vp-tablet) {
      width: 102px;
      height: 24px;
      margin: 0 0 10px 0;
    }
  }

  &__slogan {
    font-size: 12px;
    line-height: 15px;
    color: $color-bunting;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: $vp-tablet) {
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__social-list {
    display: flex;
    justify-content: center;
    margin: 0 0 21px;
    padding: 0;
    list-style: none;
  }

  &__social-item:first-child {
    .footer__social-link {
      border-left: 1px solid $color-solitude;
      transition: border-color 0.2s ease;
    }
  }

  &__social-item:first-child:hover {
    .footer__social-link {
      border-left-color: #A99E96;
    }
  }

  &__social-item:first-child {
    .footer__social-link:focus-visible {
      border-left-color: #A99E96;
    }
  }

  &__social-item {
    .footer__social-link:hover,
    .footer__social-link:focus-visible {
      border-color: #A99E96;
      border-left: 1px solid #A99E96;
      outline: none;
    }
  }

  &__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 80px;
    color: $color-bunting;
    border: 1px solid $color-solitude;
    border-left: none;

    @media (max-width: $vp-tablet) {
      width: 74px;
      height: 64px;
    }
  
  }
  
  &__social-icon {
    transition: color 0.2s ease;
  }

  &__social-link:hover,
  &__social-link:focus-visible {
    .footer__social-icon {
      color: #A99E96;
    }
  }

  &__office {
    margin: 0 0 6px 0;
    font-size: 14px;
    line-height: 20px;
    color: $color-storm-grey;
    text-align: center;

    @media (max-width: $vp-tablet) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__phone {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: $color-bunting;
    text-align: center;
    text-decoration: none;

    @media (max-width: $vp-tablet) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
