.header {
  margin: 0 0 48px 0;
  padding: 19px 0;
  background-color: $color-white;

  @media (max-width: $vp-tablet) {
      margin: 0 0 20px 0;
      padding: 15px 0;
    }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    @media (max-width: $vp-tablet) {
      width: 152px;
      height: 35px;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 40px;
    padding: 0;
    background-color: $color-bunting;
    border: none;
    border-radius: 24px;
    cursor: pointer;

    @media (max-width: $vp-tablet) {
      width: 56px;
      height: 34px;
      padding: 9px 16px;
    }
  }
}
