.text-block {
  padding: 0 0 83px;

  @media (max-width: $vp-tablet) {
      padding: 0 0 64px;
    }
    
  
  @media (max-width: $vp-mobile) {
      padding: 0 0 41px;
    }
    

  &__media-wrapper {
    @media (max-width: $vp-tablet) {
      padding: 0 64px;
    }
  }

  &__media-wrapper {
    @media (max-width: $vp-mobile) {
      padding: 0;
    }
  }

  * {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  img {
    max-width: 1200px;
    height: 540px;
    margin: 0 auto 28px;

    @media (max-width: $vp-tablet) {
      max-width: 728px;
      height: 380px;
    }

    @media (max-width: $vp-mobile) {
      max-width: 335px;
      height: 440px;
      margin: 0 auto 20px;
    }
  }

  figure {
    margin: 0 auto 48px;

    @media (max-width: $vp-mobile) {
      margin: 0 auto 43px;
    }
    
    
  }

  figure img {
    width: 800px;
    height: 400px;
    margin: 0 0 12px;

    @media (max-width: $vp-tablet) {
      width: 600px;
      height: 300px;
    }

    @media (max-width: $vp-mobile) {
      width: 335px;
      height: 170px;
      margin: 0 0 10px;
    }
  }

  figcaption {
    font-size: 14px;
    line-height: 18px;
    color: $color-light-grey-60;
    text-align: right;

    @media (max-width: $vp-mobile) {
      font-size: 10px;
      line-height: 14px;;
    }
  }

  h1 {
    max-width: 1200px;
    margin: 0 auto 48px;
    font-size: 40px;
    font-weight: 300;
    line-height: 44px;
    color: $color-zorba;
    text-align: center;

    @media (max-width: $vp-tablet) {
      font-size: 24px;
      line-height: 28px;
    }

    @media (max-width: $vp-mobile) {
      margin: 0 auto 40px;
    }
  }

  h2 {
    margin: 48px auto 16px;
    font-size: 32px;
    font-weight: 300;
    line-height: 34px;
    color: $color-zorba;

    @media (max-width: $vp-tablet) {
      font-size: 20px;
      line-height: 24px;
    }

    @media (max-width: $vp-mobile) {
      margin: 40px auto 17px;
    }

  }

  p {
    margin: 0 auto 16px;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $vp-mobile) {
      font-size: 14px;
      line-height: 20px;
      margin: 0 auto 20px;
    }
  }

  blockquote {
    margin: 0 auto 48px;
    padding: 20px 60px;
    text-align: center;
    background: linear-gradient(90deg, $color-steel-blue-80 0%, $color-mariner-80 100%);
    border-radius: 120px;

    @media (max-width: $vp-tablet) {
      padding: 20px 20px;
    }

    @media (max-width: $vp-mobile) {
      margin: 0 auto 40px;
      padding: 15px;
    }
  }

  blockquote p {
    margin: 0 auto;
  }

  q {
    font-style: italic;
    color: $color-zorba;
    letter-spacing: 0.08em;
  }

  a {
    font-weight: 500;
    color: $color-feldspar;
    transition: color 0.2s;
  }

  a:hover,
  a:focus-visible {
    color: $color-zorba;
    outline: none;
  }

  ul {
    margin: 0 auto 16px;
    padding: 0 0 0 27px;

    @media (max-width: $vp-mobile) {
      padding: 0 0 0 20px;
    }
  }

  ul li:not(:last-child) {
    margin: 0 auto 8px;
  }

  ul li:not(:last-child) {
    margin: 0 auto 8px;

    @media (max-width: $vp-mobile) {
      margin: 0 auto 5px;
    }
  }

  li {
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $vp-mobile) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

