.custom-checkbox {
  display: flex;
  gap: 10px;
}

.custom-checkbox__wrapper {
  display: inline-block;
  position: relative;
}

.custom-checkbox__label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #D6D2C4;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s ease;
}

.custom-checkbox__label:hover {
  border: 1px solid #1D252D;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox__label {
  background-color: #D6D2C4;
  border-color: #D6D2C4;
}

.custom-checkbox__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox__label .custom-checkbox__icon {
  display: block;
}

.custom-checkbox__text .checkbox__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #1D252D;
}

.custom-checkbox__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #1D252D;
  text-decoration: underline;
}

.custom-checkbox__link:hover,
.custom-checkbox__link:focus {
  color: rgba(29, 37, 45, 0.5);
}