.btn {
  $root: &;

  position: relative;
  background-color: transparent;
  border: 1px solid $color-black;
  cursor: pointer;
  width: 240px;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $color-black;
  display: flex;
  justify-content: center;

  &:not(.btn--plus):not(.btn--icon)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
    z-index: 1;
  }

  &__text {
    position: relative;
    z-index: 2;
    color: $color-black;
  }

  &:not(.btn--plus):not(.btn--icon) {
    #{$root}__text {
      color: $color-white;
      mix-blend-mode: difference;
    }

    &:hover,
    &:focus-visible {
      &::before {
        transform: scaleX(1);
      }

      #{$root}__text {
        mix-blend-mode: normal;
        color: $color-white;
      }
    }
  }

  &--plus {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 130px;
    gap: 20px;
    font-size: 20px;
    line-height: 24px;

    #{$root}__icon {
      height: 32px;
      width: 32px;
      transition: transform 0.3s ease-in-out;
    }

    &:hover,
    &:focus-visible {
      #{$root}__icon {
        transform: scale(1.25) rotate(90deg);
      }
    }
  }

  &--icon {
    border-radius: 50%;
    border: none;
    height: 48px;
    width: 48px;
    align-items: center;
    background-color: $color-black-20;
    transition: transform 0.3s ease;

    &:hover,
    &:focus-visible {
      transform: scale(1.33);
      background-color: $color-black;
    }
  }

  &__text {
    z-index: 10;
    color: $color-black;
  }
}
