.link {
  $root: &;

  font-size: 28px;
  line-height: 32px;
  font-family: inherit;
  color: $color-black;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 16px;

  &--small {
    font-size: 16px;
    line-height: 24px;
    gap: 6px;

    #{$root}__icon {
      height: 24px;
      width: 24px;
    }
  }

  &--double {
    font-size: 16px;
    line-height: 24px;
    position: relative;

    #{$root}__text-begin,
    #{$root}__icon-begin {
      transition: transform 0.3s ease, opacity 0.3s ease;
    }


    #{$root}__inner--final {
      position: absolute;
      top: 0;
      left: 0;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    
    #{$root}__icon-final {
      transform: translateX(-10px);
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
    #{$root}__text-final {
      transform: translateX(10px);
      opacity: 0;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &:hover,
    &:focus-visible {
      #{$root}__text-begin{
        transform: translateX(10px);
        opacity: 0;
      }

      #{$root}__icon-begin {
        transform: translateX(-10px);
        opacity: 0;
      }

      #{$root}__text-final,
      #{$root}__icon-final {
        transform: translateX(0);
        opacity: 1;
      }

      #{$root}__inner--final {
        pointer-events: all;
        opacity: 1;
      }
    }
  }

  &--dots {
    #{$root}__dots {
      transition: transform 0.3s ease-out;
    }
    #{$root}__dot {
      transition: transform 0.3s ease;
    }
    &:hover,
    &:focus-visible {
      #{$root}__dots {
        transform: scale(2.5);
      }

      #{$root}__dot--lt {
        transform: translate(9px, 9px);
      }

      #{$root}__dot--lc {
        transform: translateX(9px);
      }

      #{$root}__dot--lb {
        transform: translate(9px, -9px);
      }

      #{$root}__dot--ct {
        transform: translateY(9px);
      }

      #{$root}__dot--cb {
        transform: translateY(-9px);
      }

      #{$root}__dot--rt {
        transform: translate(-9px, 9px);
      }

      #{$root}__dot--rc {
        transform: translateX(-9px);
      }

      #{$root}__dot--rb {
        transform: translate(-9px, -9px);
      }
    }
  }

  &__inner {
    display: flex;
    gap: 6px;
    align-items: center;

    &--final {
      position: absolute;
      top: 0;
      left: 0;
      white-space: nowrap;
      pointer-events: none;
    }
  }

  &__text {
    position: relative;

    &::after {
      content: "";
      height: 2px;
      width: 100%;
      background-color: $color-black;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 0.7s ease-out, transform 0.7s ease-out; 
    }
  }

  &__text-final {
    transform: translateX(10px);
    opacity: 0;
  }

  &__dot {
    transition-delay: 0.3s;
  }

  &__icon-final {
    transform: translateX(-10px);
    opacity: 0;
  }

  &:hover,
  &:focus-visible {
    &:not(span, .link--double) {
      #{$root}__text::after {
        opacity: 1;
      }
    }
  }
}
