.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.contacts__house {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts__house-text {
  font-family: "Foros", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFF;
  opacity: 0.4;
}

.contacts__house-address {
  margin: 0;
  font-family: "Foros", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
  width: 250px;
}

.contacts__house-img {
  width: 140px;
  height: 72px;
  margin-right: 65px;
}

.contacts__house-link {
  font-family: "Foros", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFF;
  text-decoration: underline;
}

.contacts__connection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__connection-phone {
  font-family: "Foros", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFF;
}

.contacts__connection-email {
  font-family: "Foros", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFF;
  text-decoration: underline;
  text-align: right;
}