.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.navigation__list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
}