.retail {
  padding: 120px 0 120px 60px;
}

.retail__title {
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #FFF;
  margin: 0 auto;
  margin-bottom: 32px;
}

.offer {
  display: flex;
  flex-direction: row;
  gap: 56px;
  margin-bottom: 60px;
}

.offer__downpayment {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 110px;
  padding: 16px 15px 14px 15px;
  border-radius: 8px;
  background-color: #FFF;
}

.offer__downpayment-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #3C52E6;
  margin: 0 auto;
  text-align: center;
}

.offer__downpayment-number {
  font-weight: 400;
  font-size: 44px;
  line-height: 40px;
  letter-spacing: -0.1em;
  color: #3C52E6;
}

.offer__list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 0;
  margin: 0;
}

.offer__list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFF;
}

.retail__action {
  width: 219px;
  padding: 14px 28px;
  background-color: #23252E;
  border: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

.retail__action-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFF;
}