

.page-maintenance_content{
  padding: 197px 0 227px;

  @media (max-width: $vp-tablet) {
    padding: 165px 80px 189px;
  }
  @media (max-width: $vp-mobile) {
    padding: 156px 20px 185px;
  }
}


.maintenance-title {
  font-size: 32px;
  font-weight: 200;
  line-height: 36px;
  text-align: center;
  color: $color-black;
  margin: 0 0 28px 0;

  @media (max-width: $vp-tablet) {
    font-size: 28px;
    line-height: 32px;
    color: $color-blue-charcoa;
    margin: 0 0 18px 0;
  }

  @media (max-width: $vp-mobile) {
    font-size: 26px;
    line-height: 24px;
    margin: 0 0 20px 0;
  }
}

.maintenance-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  color: $color-blue-charcoa;
  margin: 0 300px 62px;

  @media (max-width: $vp-tablet) {
    font-size: 16px;
    line-height: 22px;
    margin: 0 auto 40px;
  }

  @media (max-width: $vp-mobile) {
    font-size: 14px;
    line-height: 18px;
  }
}



.footer-maintenance {
  background-color: transparent;
}

.footer-maintenance_content {
  display: flex;
  gap: 30px;
  justify-content: center;

  @media (max-width: $vp-tablet) {
    gap: 20px;
  }
}

.footer-maintenance_mail {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: $color-black;

  @media (max-width: $vp-mobile) {
    font-size: 12px;
    line-height: 14px;
  }
}

.footer-maintenance_tel {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  color: $color-black;
  text-transform: uppercase;

  @media (max-width: $vp-mobile) {
    font-size: 12px;
    line-height: 14px;
  }
}