.embankment {
  display: flex;
  flex-direction: column;
  gap: 112px;

  @media (max-width: $vp-tablet) {
    gap: 72px;
  }

  @media (max-width: $vp-mobile) {
    gap: 52px;
  }

  &__cards {
    display: flex;

    @media (max-width: 1500px) {
      justify-content: center;
    }

    @media (max-width: $vp-tablet) {
      justify-content: center;
    }

    @media (max-width: $vp-mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__card {
    width: 100%;
    max-width: 456px;
    min-height: 600px;
    height: 100%;

    @media (max-width: $vp-tablet) {
      max-width: 266px;
      min-height: 350px;
    }

    @media (max-width: $vp-mobile) {
      max-width: 220px;
      min-height: 290px;
    }

    &--1 {
      border-bottom-right-radius: 228px;
      border-bottom-left-radius: 228px;
      background-image: image-set(
        url("../../images/embankment-1.jpg") 1x,
        url("../../images/embankment-1@2x.jpg") 2x
      );
      background-repeat: no-repeat;
      background-size: cover;

      @media (max-width: $vp-tablet) {
        border-bottom-right-radius: 133px;
        border-bottom-left-radius: 133px;
        background-image: image-set(
          url("../../images/embankment-1-tablet.jpg") 1x,
          url("../../images/embankment-1-tablet@2x.jpg") 2x
        );
      }

      @media (max-width: $vp-mobile) {
        border-bottom-right-radius: 110px;
        border-bottom-left-radius: 110px;
        background-image: image-set(
          url("../../images/embankment-1-mobile.jpg") 1x,
          url("../../images/embankment-1-mobile@2x.jpg") 2x
        );
      }
    }

    &--2 {
      border: 1px solid $color-fallow;
      border-bottom: 0;
      border-top-right-radius: 228px;
      border-top-left-radius: 228px;
      display: flex;
      flex-direction: column;
      padding: 90px 38px;
      align-items: center;

      @media (max-width: 1500px) {
        padding: clamp(40px, 3.65vw, 90px) clamp(0px, 3.65vw, 38px);
      }

      @media (max-width: $vp-tablet) {
        border-top-right-radius: 133px;
        border-top-left-radius: 133px;
        padding: 40px 0px;
      }

      @media (max-width: $vp-mobile) {
        border-top-right-radius: 110px;
        border-top-left-radius: 110px;
        padding: 24px 0px;
      }
    }

    &--3 {
      border-bottom-right-radius: 228px;
      border-bottom-left-radius: 228px;
      background-image: image-set(
        url("../../images/embankment-2.jpg") 1x,
        url("../../images/embankment-2@2x.jpg") 2x
      );
      background-repeat: no-repeat;
      background-size: cover;


      @media (max-width: 1500px) {
        display: none;
      }

      @media (max-width: $vp-tablet) {
        display: none;
      }
    }
  }

  &__logo {
    margin-bottom: 30px;

    @media (max-width: $vp-tablet) {
      margin-bottom: 20px;
      width: 70px;
      height: 94px;
    }

    @media (max-width: $vp-mobile) {
      margin-bottom: 20px;
      width: 60px;
      height: 80px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $color-fallow;
    margin: 0 0 10px 0;

    @media (max-width: $vp-tablet) {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 5px 0;
    }

    @media (max-width: $vp-mobile) {
      font-size: 10px;
      line-height: 14px;
      margin: 0 0 10px 0;
    }

    &--address {
      letter-spacing: normal;
      text-transform: none;
      color: $color-white;

      @media (max-width: $vp-tablet) {
        font-size: 14px;
        line-height: 20px;
      }

      @media (max-width: $vp-mobile) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &__title {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 44px;
    line-height: 50px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    margin: 0 0 40px 0;
    text-align: center;

    @media (max-width: 1500px) {
      font-size: clamp(24px, 3.65vw, 44px);
      line-height: 1.14;
    }

    @media (max-width: $vp-tablet) {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 20px 0;
    }

    @media (max-width: $vp-mobile) {
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 15px 0;
    }
  }

  &__pin {
    margin-bottom: 15px;

    @media (max-width: $vp-tablet) {
      margin-bottom: 10px;
      width: 20px;
      height: 20px;
    }

    @media (max-width: $vp-mobile) {
      margin-bottom: 5px;
    }
  }

  &__description {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: $color-fallow;
    margin: 0 auto;
    text-align: center;

    @media (max-width: $vp-tablet) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (max-width: $vp-mobile) {
      font-size: 20px;
      line-height: 24px;
    }
  }

}