.sizer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  gap: 86px;

  @media (max-width: $vp-tablet) {
    gap: 28px;
  }

  @media (max-width: $vp-mobile) {
    gap: 7px;
  }

  &__arrow--left,
  &__arrow--right {
    width: 100%;
    height: 1px;
    background-color: $color-fallow;
    position: relative;
    bottom: 28px;

    @media (max-width: $vp-tablet) {
      bottom: 24px;
      max-width: 263px;
    }
  }

  &__arrow--left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 8px solid $color-fallow; 
  }

  &__arrow--right::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 8px solid $color-fallow;
  }

  &__metric {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    @media (max-width: $vp-tablet) {
      gap: 16px;
    }

    &-value {
      display: flex;
      gap: 15px;
      align-items: end;

      @media (max-width: $vp-tablet) {
        gap: 12px;
      }
    }
  }

  &__number {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 140px;
    line-height: 100px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: $color-fallow;

    @media (max-width: $vp-tablet) {
      font-size: 90px;
      line-height: 70px;
    }

    @media (max-width: $vp-mobile) {
      font-size: 70px;
      line-height: 50px;
    }
  }

  &__unit {
    font-family: $ff-tenor;
    font-weight: 400;
    font-size: 34px;
    line-height: 30px;
    text-transform: uppercase;
    color: $color-fallow;
    margin: 0;

    @media (max-width: $vp-tablet) {
      font-size: 14px;
      line-height: 18px;
      align-self: center;
      margin-bottom: 19px;
    }

    @media (max-width: $vp-mobile) {
      align-self: auto;
      margin-bottom: 0;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0;

    @media (max-width: $vp-tablet) {
      font-size: 14px;
      line-height: 20px;
    }

    @media (max-width: $vp-mobile) {
      width: 143px;
    }
  }
}