.info-banner {
  display: flex;
  align-items: center;
  background-image: url("../../images/banner-img.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  border-radius: 0 60px 0 60px;
  padding: 85px 90px;
  justify-content: space-between;
  margin-bottom: 120px;
}

.info-banner__title {
  font-weight: 300;
  font-size: 44px;
  line-height: 48px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.info-banner__inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 460px;
  text-align: right;
  align-items: flex-end;
}

.info-banner__text {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.info-banner__link {
  padding: 7px 74px;
  border-radius: 40px;
  background-color: #D6D2C4;
  max-width: 220px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #1D252D;
}