.custom-checkbox {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 5px;
}

.custom-checkbox-grid {
  display: grid;
  grid-auto-flow: column;
  gap: 7px 80px;
  justify-content: flex-start;
}


.custom-checkbox-grid.two-rows {
  grid-template-rows: repeat(2, auto);
  column-gap: 70px;
}

.custom-checkbox-grid.three-rows {
  grid-template-rows: repeat(3, auto);
  column-gap: 90px;
}

.custom-checkbox-grid.four-rows {
  grid-template-rows: repeat(4, auto);
  column-gap: 55px;
}

.custom-checkbox__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  position: relative;
  cursor: pointer;
  border: 1px solid #AD8361;
  outline: none;
}

.custom-checkbox__wrapper input {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.custom-checkbox__wrapper label {
  width: 14px;
  height: 14px;
  border: 1px solid #AD8361;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease, background-color 0.2s ease, border 0.2s ease;
  cursor: pointer;
}

.custom-checkbox__wrapper input:checked + label {
  width: 6px;
  height: 6px;
  background-color: #AD8361;
  border: none;
}

.custom-checkbox__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #090909;
  cursor: pointer;
	transition: color 0.2s ease;
}

.custom-checkbox:hover .custom-checkbox__text {
  color: #AD8361;
}

.custom-checkbox:focus-within .custom-checkbox__text {
  color: #AD8361;
}

.custom-checkbox:has(input:disabled) .custom-checkbox__text,
.custom-checkbox:has(input:disabled) .custom-checkbox__wrapper {
  opacity: 0.5;
  cursor: default;
}

.custom-checkbox:has(input:disabled):hover .custom-checkbox__text,
.custom-checkbox:has(input:disabled):focus-within .custom-checkbox__text {
  color: #090909;
}