.custom-radio {
  display: flex;
  width: 100%;
  max-width: 330px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.radio-option {
  display: flex;
  position: relative;
  flex: 1;
  justify-content: center;
  border: 1px solid #AD8361;
  border-left: none;
  height: 24px;
  padding: 5px 0;
  box-sizing: border-box;
  text-align: center;
  background-color: #F3F3F3;
  transition: color 0.2s;
}

.radio-option:first-child {
  border-left: 1px solid #AD8361;
}

.radio-option--two-line {
  min-width: 330px;
  border-top: none;
  border-left: 1px solid #AD8361;
}

.radio-option span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.04em;
  color: #AD8361;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: color 0.2s;
}


.radio-option input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  cursor: pointer;
}

.radio-option input[type="radio"]:checked + span {
  background-color: #AD8361;
  color: #fff;
}

.radio-option input[type="radio"]:hover + span {
  color: #090909;
}

.radio-option input[type="radio"]:focus-visible + span {
  color: #AD8361;
  background-color: rgba(173, 131, 97, 0.5);
}

.radio-option input[type="radio"]:disabled + span {
  opacity: 0.5;
  cursor: default;
}

.radio-option input[type="radio"]:disabled:hover + span,
.radio-option input[type="radio"]:disabled:focus + span {
  color: inherit;
  background-color: transparent;
}

.radio-option input[type="radio"]:disabled:checked + span {
  opacity: 0.5;
  background-color: #AD8361;
  color: #fff;
}