.custom-textarea {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.custom-textarea__title {
  font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	color: #99999E;
}

.custom-textarea__textarea {
	border: none;
	width: 460px;
	height: 90px;
	border-bottom: 1px solid #C8C8CA;
	font-weight: 400;
	font-size: 16px;
	line-height: 125%;
	color: #5A5A5A;
}