
.custom-checkbox {
	display: flex;
	gap: 15px;
	align-items: center;
	padding-bottom: 5px;
}

.custom-checkbox__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	position: relative;
	cursor: pointer;
	border: 1px solid #3C52E6;
}

.custom-checkbox__wrapper input {
	opacity: 0;
	position: absolute;
	width: 0;
	height: 0;
}

.custom-checkbox__wrapper label {
	width: 20px;
	height: 20px;
	border: 1px solid #3C52E6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: width 0.2s ease, height 0.2s ease, background-color 0.2s ease, border 0.2s ease;
}

.custom-checkbox__wrapper input:checked + label {
	width: 12px;
	height: 12px;
	background-color: #3C52E6;
}

.custom-checkbox__text {
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	color: #99999E;
	width: 210px;
}

.custom-checkbox__link {
	font-weight: 400;
	font-size: 12px;
	line-height: 120%;
	color: #3C52E6;
}