/* Текущие стили модалки не потребуется дорабатывать */

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  display: none;
}

.modal--active {
  display: block;
}

.modal::after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}

.modal__wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 40px;
}

/* Плашку с успешной отправкой спозиционируй от modal__content */
.modal__content {
	position: relative;
	width: 100%;
	max-width: 1200px;
	min-height: 660px;
	background-color: #FFFFFF;
	padding: 168px 120px;
}

.modal__exit-btn {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 80px;
	height: 80px;
	padding: 30px;
	border-radius: 50%;
	background-color: #3C52E6;
}

.modal__title {
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	color: #180000;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 60px;
}

.modal__input-wrapper {
	display: flex;
	gap: 60px;
	margin-bottom: 60px;
}

.modal__sending-form {
	display: flex;
	gap: 40px;
}

.modal__assent-and-sending {
	display: flex;
	gap: 15px;
	align-items: end
}

.modal__assent-and-sending {
		display: flex;
		gap: 15px;
		align-items: end;
	}

.modal__send-btn {
	width: 200px;
	padding: 19px 62px;
	background-color: #3C52E6;
	border: 0;
	font-family: "Open Sans", "Arial", sans-serif;
}

.modal__send-btn-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 114.999999%;
	color: #FFF;
}

.modal__modal-shipped {
	position: absolute;
	right: 470px;
	top: 542px;
	display: none;
	flex-direction: column;
	gap: 6px;
	width: 260px;
	padding: 16px 41px 18px;
	background-color: #3C52E6;
	align-items: center;
}

.modal__shipped-text {
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
	color: #FFF;
}

.modal__clock-wrapper {
	display: flex;
	gap: 5px;
}

.modal__clock-wrapper-text {
	font-weight: 400;
	font-size: 12px;
	color: #FFF;
}