.teammate {
  width: 600px;
  background-color: #F2F3EE;
  border-radius: 20px;
  padding: 30px;
}

.teammate__role {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #1D252D;
  margin: 0 0 5px 0;
}

.teammate__name {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1D252D;
  margin: 0 0 20px 0;
}

.teammate__summary {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.teammate__img {
  border-radius: 12px;
}

.teammate__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.teammate__intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.teammate__quote {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #1D252D;
  margin: 0 auto;
}

.teammate__quote-accent {
  text-align: center;
}

.teammate__experience {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #1D252D;
  text-align: right;
  margin: 0 auto;
}

.teammate__experience-accent {
  text-align: center;
}

.teammate__actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.teammate__action-btn {
  width: 140px;
  border-radius: 40px;
  border: none;
  padding: 7px 39px;
}

.teammate__action-accent {
  background-color: #D6D2C4;
}

.teammate__action-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #1D252D;
}