/* Global */
/* ------------------------------------ */
@import "global/fonts.css";
@import "global/reboot.css";
@import "global/container.css";
@import "global/visually-hidden.css";

/* Blocks */
/* ------------------------------------ */
@import "blocks/header.css";
@import "blocks/btn.css";
@import "blocks/content.css";
@import "blocks/retail.css";
@import "blocks/footer.css";
@import "blocks/contacts.css";
@import "blocks/social.css";
@import "blocks/navigation.css";
@import "blocks/copyright.css";
@import "blocks/simex.css";
