/* Global */
/* ------------------------------------ */
@import "global/fonts.css";
@import "global/reboot.css";
@import "global/visually-hidden.css";
@import "global/container.css";

/* Blocks */
/* ------------------------------------ */
@import "blocks/header.css";
@import "blocks/photo.css";
@import "blocks/content.css";
@import "blocks/report.css";
