/* Global */

@import "global/fonts.css";
@import "global/reboot.css";
@import "global/container.css";
@import "global/visually-hidden.css";

/* Blocks */
@import "blocks/header.css";
@import "blocks/custom-input.css";
@import "blocks/custom-radio.css";
@import "blocks/custom-checkbox.css";
@import "blocks/catalog-inner.css";
@import "blocks/catalog-filter.css";
@import "blocks/catalog-list.css";
@import "blocks/catalog-card.css";
@import "blocks/parameter-card.css";

