.card {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.cards-container--list .card {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 40px;
}

.card__img {
  height: 300px;
  width: 600px;
}

.cards-container--list .card__img {
  height: 285px;
  width: 570px;
}

.card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 40px;
  background-color: #F2F3EE;
  justify-content: space-between;
  min-height: 270px;
}

.card__text-wrapper {
  display: flex;
  flex-direction: column;
}

.card__date {
  display: block;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(29, 37, 45, 0.5);
  margin: 0 0 10px 0;
}

.card__title {
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin: 0 0 10px 0;
}

.cards-container--list .card__title {
  margin: 0 0 15px 0;
}

.card__description {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin: 0 auto;
}

.card__inner-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card__view {
  display: block;
  text-align: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(29, 37, 45, 0.5);
}

.card__action-btn {
  width: 220px;
  padding: 7px 74px;
  border-radius: 40px;
  border: none;
  background-color: #D6D2C4;
}

.card__action-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}

