@import "global/fonts.css";
@import "global/reboot.css";
@import "global/container.css";
@import "blocks/header.css";
@import "blocks/page-content.css";
@import "blocks/card.css";
@import "blocks/cards-container.css";
@import "blocks/footer.css";
